<mat-card class="dashboard-card" *ngIf="datos"  >
    <mat-card-header>
      <mat-card-title>
       <h1>Factura</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      
      <p><b>Fecha De compra: </b>{{datos.Fecha  }}</p>
      <div *ngFor="let detalle of datos.facturaDetalle">
        <p><b>Producto: </b>{{ detalle.producto.Nombre }}</p>
        <p><b> Estado:</b>{{detalle.Estado}}</p>
        <p><b>Cantidad: </b>{{ detalle.Cantidad }}</p>
        <!-- Agregar más propiedades de los detalles de factura aquí -->
      </div>
      <p><b>Direccion: </b>{{datos.Direccion.Direccion}}</p>
      <p><b>Metodo de Pago:</b>{{datos.MetodoDePago.Tipo}}</p>
      <p><b>Total: </b>{{datos.Total| currency:'USD'}}</p> 
    </mat-card-content>
  </mat-card>
