<mat-toolbar  color="primary" >
    <button [matMenuTriggerFor]="menu1" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>ThunderMarket</span>
    <mat-menu #menu1="matMenu">
      <!-- 
        #= forma de llamar un componente
        
        https://material.angular.io/components/menu/overview
        nested menu
      -->
      <button mat-menu-item [routerLink]="['/']" routerLinkActive="mat-raised-button">
        Inicio
      </button>
      <button mat-menu-item [routerLink]="['/acerca-de']" routerLinkActive="mat-raised-button">
        Acerca de
      </button>
      <button mat-menu-item [routerLink]="'/productos'" [routerLinkActive]="'mat-raised-button'">Productos</button>
      <button mat-menu-item (click)="pedidosusuario(UsuarioID)"  *ngIf="Cliente || Admin" [routerLinkActive]="'mat-raised-button'">Pedidos</button>
      <button mat-menu-item (click)="metodopagousuario(UsuarioID)"  *ngIf="Cliente || Admin" [routerLinkActive]="'mat-raised-button'">Tarjetas</button>
      <button mat-menu-item (click)="direccionesusuario(UsuarioID)"  *ngIf="Cliente || Admin" [routerLinkActive]="'mat-raised-button'">Direcciones</button>


      <button mat-menu-item *ngIf="Vendedor || Admin" [matMenuTriggerFor]="menu2"
      routerLinkActive="mat-raised-button">
      Mantenimientos
    </button>
  
      <mat-menu #menu2="matMenu">
        <button mat-menu-item (click)="productosusuario(UsuarioID)" *ngIf="Vendedor || Admin" routerLinkActive="mat-raised-button">
          Productos
        </button>
        <button mat-menu-item (click)="pedidosvendedor(UsuarioID)"  *ngIf="Vendedor || Admin" routerLinkActive="mat-raised-button">
          Pedidos
        </button>
        <button mat-menu-item *ngIf="Admin" routerLink="/usuario/usuarios" routerLinkActive="mat-raised-button">
          Usuarios
        </button>
      </mat-menu>
    </mat-menu>
    <div class="example-button-container" align="end"></div>
    <div class="example-spacer"></div>
    <div class="example-spacer">
      <!--enlaces de la app-->
      <!--https://fonts.google.com/icons-->
      <!--https://material.angular.io/guide/typography-->
      <button mat-icon-button matBadgeColor="accent" [matBadge]="qtyItems.toString()" 
      [routerLink]="'/pedidos'" [routerLinkActive]="'mat-raised-button'"  aria-label="Cantidad">
    <mat-icon>shopping_cart</mat-icon>
  </button> |   
      <!--Usuario-->
     
      <button mat-icon-button [matMenuTriggerFor]="menu3"> 
        <mat-icon [ngStyle]="{'color': isAutenticated ? 'white': '#9E9E9E' }">person</mat-icon>
        <span class="mat-caption" *ngIf="isAutenticated">{{currentUser.user.Nombre}}</span>
      </button>
      <!--Menu usuario-->
      <mat-menu #menu3="matMenu">
        <a mat-menu-item *ngIf="!(isAutenticated)" (click)="login()">
          <mat-icon>person_add</mat-icon>
          <span>Login</span>
        </a>
        <a mat-menu-item *ngIf="isAutenticated" (click)="logout()">
          <mat-icon>person_remove</mat-icon>
          <span>Logout</span>
          
        </a>
      </mat-menu>
    </div>
  </mat-toolbar>