<div class="grid-container">
  <mat-card>
    <mat-card-header><h1 class="mat-h1">Productos</h1></mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <mat-label>Nombre del producto</mat-label>
        <input matInput #filter type="text"
        (input)="filterProducto(filter.value)">
        <button mat-icon-button 
          matSuffix color="primary" (click)="filterProducto(filter.value)" >
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field> 
    </mat-card-content>
  </mat-card>
  <mat-card>
  <div class="container-fluid d-flex gap-3">
    <mat-form-field class="w-50" appearance="outline" color="accent">
      <mat-label>Categorias</mat-label>
      <mat-select (selectionChange)="filterCategoria($event.value)">
        <mat-option [value]="null">All</mat-option>
        <mat-option *ngFor="let item of Categoria" [value]="item.id">
          {{ item.Descripcion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field class="w-50" appearance="outline" color="accent">
      <mat-label>Ordenar por</mat-label>
      <mat-select (selectionChange)="filterPrecio($event.value)">
        <mat-option value="0">Precio: Más alto al más bajo</mat-option>
        <mat-option value="1">Precio: Bajo a alto</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>

    <h1 class="mat-h1">Productos</h1>
    <mat-grid-list [cols]="3" rowHeight="20em" gutterSize="10px">
      <mat-grid-tile *ngFor="let item of filterDatos">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>{{item.Nombre}} </mat-card-title>
            <mat-card-subtitle>{{item.Categoria.Descripcion}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="item.imagen[0].imagen" >
          <mat-card-content class="dashboard-card-content">
            <div> {{item.Precio | currency:"USD" }}</div>
            <div> {{item.Estado ? 'Disponible' : 'No disponible'  }}</div>
            <div> {{item.Usuario.Nombre}}</div>

          </mat-card-content>
          <mat-divider inset></mat-divider>
          <mat-card-actions>
            <button
              mat-mini-fab
              color="accent"
              matTooltip="Detalle Productos"
              aria-label="Detalle Productos"
              color="primary"
              (click)="detalleProductos(item.id)"
            >
              <mat-icon class="mat-18">info</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              matTooltip="Comprar"
              aria-label="Comprar"
              color="accent"
              (click)="comprar(item.id)"

            >
            <mat-icon class="mat-18">add_shopping_cart</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  