<mat-card class="dashboard-card" *ngIf="datos"  >
    <mat-card-header>
      <mat-card-title>
        {{datos.Nombre }}
       
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <p><b>Estado: </b>{{datos.Estado ? 'Disponible' : 'No disponible' }}</p>
      <p><b>Cantidad: </b>{{datos.Cantidad}}</p>
      <p><b>Categoria: </b>{{datos.Categoria.Descripcion}}</p>
      <p><b>Vendedor:</b>{{datos.Usuario.Nombre}} {{datos.Usuario.Apellido}}</p>
      <p><b>Precio: </b>{{datos.Precio| currency:'USD'}}</p> 
       <ul *ngIf="datos.Preguntas">
        <li *ngFor="let item of datos.Preguntas"> {{item.Pregunta}}</li>
     </ul>
      <img src="https://cdn.shopify.com/s/files/1/0116/2438/2528/products/air-jordan-4-retro-fire-red-2020-dc7770-160_4_i1ckry_1800x1800_1_700x700.jpg?v=1627827408" alt="">
    
    </mat-card-content>
  </mat-card>
