<div class="container">
  <mat-card class="dashboard-card" *ngIf="datos">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{ datos.Nombre }}</mat-card-title>
      <mat-card-subtitle
        >Categoria:{{ datos.Categoria.Descripcion }}
      </mat-card-subtitle>
    </mat-card-header>
    <div>
      <img [src]="imagenActual" alt="Imagen de producto" />
    </div>
    <div>
      <button mat-icon-button (click)="mostrarImagenAnterior()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button mat-icon-button (click)="mostrarSiguienteImagen()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-card class="info">
    <mat-card-header>
      <mat-card-title>Información del vendedor</mat-card-title>
      <mat-card-subtitle
        ><p><b>Empresa:</b>{{ datos.Usuario.Empresa }}</p>
        <p>
          <b>Estado: </b>{{ datos.Estado ? "Disponible" : "No disponible" }}
        </p>
        <p><b>Cantidad: </b>{{ datos.Cantidad }}</p>
        <p>
          <b>Vendedor:</b>{{ datos.Usuario.Nombre }}
          {{ datos.Usuario.Apellido }}
        </p></mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Comprar</button>
      <button mat-button>Compartir</button>
    </mat-card-actions>
  </mat-card>
  <!-- Mostrar la lista de preguntas y respuestas -->
  <!-- <a 
      mat-fab
      matTooltip="Crear Pregunta"
      aria-label="Crear Pregunta"
      color="accent"
      (click)="crearPregunta(datos.id)"

    >Crear Pregunta
  </a> -->
  <mat-card *ngIf="datos" class="preguntas">
    <mat-card-content>
      <button
        mat-button
        matTooltip="Crear Pregunta"
        aria-label="Crear Pregunta"
        color="primary"
        (click)="crearPregunta(datos.id)"
      >
        Crear Pregunta
      </button>

      <p><b>Preguntas y Respuestas:</b></p>
      <div class="row" *ngIf="datos.Preguntas">
        <div *ngFor="let pregunta of datos.Preguntas">
          {{ pregunta.Pregunta }}

          <div class="col">
            <!-- Verificar si existe una respuesta antes de mostrarla -->
            <p *ngIf="pregunta.Respuesta">
              {{ pregunta.Respuesta.Respuesta }}
            </p>
            <!-- Mostrar un mensaje si no hay respuesta -->
            <p *ngIf="!pregunta.Respuesta">
              Aún no hay respuesta para esta pregunta.
            </p>
          </div>
        </div>
      </div>

      <mat-icon>add</mat-icon>
    </mat-card-content>
  </mat-card>

  <!-- Formulario para realizar una pregunta -->
</div>
