.dashboard-card{
    align-items: center;
}
mat-card-title{
    /* pon el titulo a la izquierda */
    text-align: left;

}
.dashboard-card{
    /* tamaño de la tarjeta */
   
    /* centrar la tarjeta */ max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   

}

img{
    /* tamaño de la imagen */
    width: 60%;
    height: 60%;
    /* centrar la imagen */
    object-fit: contain;
}