
mat-card-title{
    /* pon el titulo a la izquierda */
    text-align: left;
}


img{
    /* tamaño de la imagen más pequeña   */
    width: 20%;
    height: 20%;

    
    /* centrar la imagen */
    object-fit: contain;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.dashboard-card {
  flex: 0 1 48%;
  margin-bottom: 20px;
}

.info {
  flex: 0 1 48%;
}

.middle-card {
  flex: 0 1 100%;
  text-align: center;
}
.preguntas{
  flex: 0 1 100%;
  text-align: center;
}